* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
}

.produkt-grid {
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 800px) {
  .produkt-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    margin: 7rem;
  }
  .produkt-grid img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .produkt-pic {
    display: subgrid;
    grid-template-rows: span 3;
  }
}

.kategorier-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 1rem;
}
.kat {
  background-color: rgb(243, 230, 234);
  text-decoration: none;
  color: black;
  padding: 1.5rem;
  border-radius: 15px;
  text-align: center;
}

.kat:hover {
  background-color: rgb(242, 206, 228);
  transform: translateY(-5px); /* løfter kortet */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

@media screen and (min-width: 800px) {
  .kategorier-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin: 2rem;
  }

  .kat {
    background-color: rgb(243, 230, 234);
    text-decoration: none;
    color: black;
    padding: 3rem;
    border-radius: 15px;
    text-align: center;
  }
  .kat:hover {
    background-color: rgb(242, 206, 228);
    transform: translateY(-5px); /* løfter kortet */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
  }
}

header {
  width: 100%;
  background-color: rgb(240, 236, 238);
}
nav {
  display: flex;
}

nav a {
  text-decoration: none;
}
